.wrap-hdr {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px $colorBlanco;

    .nav-hdr {
        margin: 30px 0;

    }
    .logo{
        .title{
            font-size: 40px;
            font-weight: bold;
            font-family: $font-family-rajdhani;
            text-transform: uppercase;
        }
    }

    @include Responsive($tablet) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;

        .nav-hdr {
            margin: 0;

            ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: row;
                gap: 20px;

                li {
                    a {
                        text-decoration: none;
                        color: $colorBlanco;
                        font-family: $font-family-rajdhani;
                        font-weight: 500;
                        font-size: $font-size-15;
                        text-transform: uppercase;
                        padding: 10px 20px;

                        &:hover {
                            color: $colorRosa;
                        }
                    }
                }
            }
        }
    }
}

.social {
    display: flex;
    list-style: none;
    padding: 0;
    flex-direction: row;
    gap: 10px;

    li {
        a {
            width: 30px !important;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            border: solid 1px $colorBlanco;
            border-radius: 50%;
            color: $colorBlanco;
            text-decoration: none;
            font-size: $font-size-16;

            &:hover {
                color: $colorRosa;
            }

        }
    }
}
.search-form {
    display: flex;
    align-items: center;
    .search-field {
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    .search-submit {
        background-color: #3498db;
        color: white;
        border: none;
        padding: 8px 16px;
        margin-left: 8px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        &:hover{

            background-color: #2980b9;
        }
    }
    

}