.grid-archive {
    display: grid;
    gap: 20px;

    @include Responsive($mobile) {
        grid-template-columns: repeat(2, 1fr);

    }
}

.archive {
    .entry-thumbnail {
        height: 250px;
        display: block;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .entry-content-wrapper {
        .entry-header {
            h2 {
                margin: 0;
                margin: 10px 0;

                a {
                    color: $colorBlancoCat;
                    text-decoration: none;
                    transition: color 0.3s ease;

                    &:hover {
                        color: $colorRosa;
                    }
                }
            }
        }

        .entry-content {
            margin-bottom: 20px;
            color: $colorGrisTexto;

        }


    }

    .entry-footer {
        margin-top: 10px;

        a {
            color: $colorRosa;
            transition: color 0.3s ease;
            font-family: $font-family-rajdhani;
            text-transform: uppercase;
            font-weight: 600;
            text-decoration: none;
            font-size: 15px;

            &:hover {
                color: $colorBlanco;
            }

        }
    }

    .cats-archives {
        font-size: $font-size-16;
        color: $colorGrisMetas;

        span {
            color: $colorBlanco;
            font-size: $font-size-16;
        }
    }
}