/*-----------------------------------------------------------------------------------*/
/* GENERAL STYLES
/*-----------------------------------------------------------------------------------*/
@import "componentes/colors/palet-colors";
@import "componentes/fonts/fonts";



*{
  box-sizing: border-box;
}

body{
  margin:0 !important;
  background-color: var(--color-gris);
  font-size: 18px;
  color: var(--color-blanco);
  font-family:$font-family-roboto ;
  font-size: $font-size-18;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-rajdhani !important;
  font-weight: 600;
  text-transform: uppercase;
}

.wrap{
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

.custom-logo{
  max-width: 130px;
  height: auto;
}


@import "componentes/botons/botons";

/*-----------------------------------------------------------------------------------*/
/* MOBILE STYLES
/*-----------------------------------------------------------------------------------*/


$mobile: 600px;
$tablet: 769px;
$desktop: 992px;
$large: 1200px;

@mixin Responsive($arg){
  @media  screen and (min-width: $arg) {
    @content;
  }
}

/*******************************************************************************/
/*********************IMPORTS COMPONENTS***********************/
/*******************************************************************************/

@import "componentes/header/header";
@import "componentes/header/menu";
@import "componentes/footer/footer";

@import "componentes/home/seccion-principal";
@import "componentes/home/seccion-tercera";
@import "componentes/home/seccion-cuarta";

@import "componentes/blog/single-post";
@import "componentes/shared/shared";
@import "componentes/blog/archive";
@import "componentes/404/404";
@import "../sass/darkteme";






