$colorGris: #111;
$colorGrisClaro: #161616;
$colorBlanco: #fff;
$colorRosa:#dc143f;
$grisItemEntrada: #222222;
$colorGrisMetas:#999;
$colorGrisTexto:#adadad;
$colorBlancoCat:#d6d6d6;
$colorBoxTransparencia:linear-gradient(to top, black, transparent);
