.segunda-cat{
    margin-bottom: 80px;
    .grid-item-entada{
        list-style: none;
        padding: 0;
        display: grid;
        gap: 20px;
        li{
            overflow: hidden;
            img{
                height: 250px;
                width: 100%;
                object-fit: cover ;
                transition:transform 0.3s ease;
                &:hover{
                    transform: scale(1.1);                  
                }
            }
            div{
                margin-top: -10px;
                padding: 20px;
                height: 170px;
                background: var(--gris-item-entrada);
                z-index: 1;
                position: relative;
                span{
                    padding: 0;
                }
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    color: var(--color-blanco);
                    li{
                        font-size: $font-size-16;
                        color: var(--color-gris-metas);
                        span{
                            color: var(--color-blanco);
                            font-size: $font-size-16;
                        }
                    }
                }
                a{
                    color: var(--color-blanco);
                    text-decoration: none;
                    transition: color 0.3s ease;
                    h3{
                        margin: 0;
                        margin-top: 10px;
                        margin-bottom: 5px;
                        font-weight: bold;
                        text-shadow: 1px 1px 1px black;

                    }
                    &:hover{
                        color: var(--color-rosa);
                    }
                }
               
            }
        }

        @include Responsive($tablet){
            grid-template-columns: repeat(2, 1fr);
        }
        @include Responsive($desktop){
            grid-template-columns: repeat(3, 1fr);
        }
    }
}