.grid-principal{
    display: grid;
    gap: 20px;
    margin-bottom: 80px;
    .item-grid-prin{
        height: 250px;
        overflow: hidden;
        position: relative;
        .item-hov-zoom{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: transform 0.3s ease;
        } 
        .container-data{
            position: absolute; 
            bottom: 0;
            left: 0;
            background: $colorBoxTransparencia;
            padding: 20px;
            width: 100%;

            h2{
                margin: 0;
                font-size: 20px;
                color: $colorBlanco;
                font-weight: bold;
                transition: color 0.3s ease;
                text-shadow: 1px 1px 6px black;
                &:hover{
                    color: $colorRosa;
                }
            }
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                color: $colorBlanco;
                li{
                    font-size: $font-size-16;
                    color: $colorGrisMetas;
                    span{
                        color: $colorBlanco;
                    }
                }
            }
            

        } 

        &:hover > .item-hov-zoom{
            transform: scale(1.1);
            
            
        }

    }
    
    @include Responsive($mobile){
       grid-template-columns: 1fr 1fr;
        .item-grid-prin{
            height: 350px;
            .container-data{
                span{
                    font-size: $font-size-15;
                }
                h2{
                    font-size: $font-size-28;
                }
                ul{
                    li{
                        font-size: $font-size-15;
                    }
                }
            }
            &:nth-of-type(1){
                height: 550px;
                grid-column: 1/3;
            }
        }

    }

}