.btn-rosa{
    background-color: var(--color-rosa);
    color: var(--color-gris-color-blanco);
    text-decoration: none;
    padding: 10px;
    font-family:$font-family-rajdhani;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    &:hover{
        background-color: var(--color-gris);
        color: var(--color-blanco);
      
    }
}
.btn-rosa-cat{
    background-color: var(--color-rosa);
    color: var(-color-blanco) !important;
    text-decoration: none;
    padding: 0px 5px;
    font-family:$font-family-rajdhani;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: var(--color-blanco);

    &:hover{
        background-color: var(--color-gris);
        color: var(--color-blanco) !important;
    }
    
}


